body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: rgba(189, 214, 255, 0.801); */
}

header {
  border-bottom: 1px solid black;
}

main {
  margin: 1em 2%;
}

ul {
  list-style: none;
  padding: 0;
}

/* ul > li {
  border-bottom: 1px dotted gray;
} */

ul > li > a {
  text-decoration: none;
  color: black;
  display: grid;
  grid-template-columns: 0.7fr 0.3fr auto;
  align-items: center;
}

ul > li > a > p:last-child {
  font-weight: bold;
  font-size: xx-large;
  color: rgb(218, 79, 79);
  text-shadow: 2px 2px 2px rgb(39, 37, 216);
}

/* Variables */
:root {
  --main-color: red;
  --margin-base: 2em;
}

ul > li {
  border-bottom: 1px dotted var(--main-color);
  /* padding: 1em 0; */
}

ul > li:nth-child(odd) {
  background: linear-gradient(
    180deg,
    var(--main-color) 3%,
    rgba(207, 207, 230, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
}

/* ul > li:nth-child(odd) {
  background: linear-gradient(
    180deg,
    rgb(9, 9, 218) 3%,
    rgba(207, 207, 230, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
} */

/* input:invalid {
  box-shadow: 0 0 5px 1px red;
} */

input::placeholder {
  font-style: italic;
  color: violet;
}

input:focus:invalid {
  background-color: #fab6b6;
}

/* Pseudoclass :invalid */
/* Pseudoelementos ::after */
input::after:invalid {
  content: "Datos inválidos";
}

form:invalid {
  background-color: rgb(230, 140, 140);
  padding: 1em;
}

form:invalid::after {
  content: "Los datos del formulario son inválidos. Verifique.";
}

::selection {
  background-color: #a23fd7;
}

a > p:first-child::first-letter {  
  font-size: 5em;
  font-family:'Parchment' , sans-serif;
}

input:invalid + span[message]::after {
  content: attr(message);
}

ul {
  counter-reset: line;
}

ul > li::before {  
  counter-increment: line;
  content: counter(line) ". ";
}