table {
    border: 1px solid black;
    padding: 0.5em;
    width: 50em;    
}

section > table:hover {
    color: #8c25aa;
    cursor: pointer;
}

table .resaltar th, .resaltar {
    color: #1100ff;
    border: 1px dotted red;
}